<!-- Berlin Theme-->
<div class="container-fluid-lg" *ngIf="theme && theme == 'berlin'">
  <div class="row g-4">
    <div class="col-xl-9 col-lg-8 ratio_50_1 skeleton-banner-xl b-left">
      <app-slideshow />
    </div>
    <div
      class="col-xl-3 col-lg-4 d-lg-inline-block d-none skeleton-banner-vertical"
    >
      <div class="skeleton-text-wrap">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-5"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
      </div>
      <app-image-link
        [image]="data?.sub_banner_1"
        [bgImage]="true"
        [class]="'home-contain h-100 home-furniture'"
      >
      </app-image-link>
    </div>
  </div>
</div>
