.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-image {
  width: 100%;
  display: block;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #333;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-button.left {
  left: 0.5rem;
}

.nav-button.right {
  right: 0.5rem;
}

.dot-container {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.8);
}
